name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "3.3.10"
          - "3.4.7"
          - "4.0.0"

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Minitest
        run: minitest
      - name: Rubocop
        run: rubocop
